/* สัญลักษณ์ css */

@import url(https://codepen.io/chrisdothtml/pen/ojLzJK.css);
@import url(https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap);

/*ดึงฟอนต์มาใช้*/


/* =============================================================================== */


/*ความคุมตัวอักษรหัวข้อ*/

h1,
h2,
h3,
h4 {
    font-family: Pridi, serif;
}

h1 {
    font-size: 2.5rem;
    color: #214151;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 200;
}


/* .card h2.ED {
    margin-bottom: 50px;
} */

.card h1.EDT {
    margin-bottom: 110px;
}

@media screen and (max-width: 1350px) {
    .card .A {
        font-size: 2.25rem;
        text-align: center;
    }
    .card .B {
        font-size: 1.8rem;
        text-align: center;
    }
}


/*================================================= กำหนดรูปภาพ =============================*/

img {
    border-radius: 100%;
    float: left;
}

.responsiveimg {
    width: 60%;
    max-width: 200px;
    height: auto;
    margin: 18px;
    box-shadow: 0 0 30px rgb(94, 94, 94);
}

.responsiveimg11 {
    margin-top: 25px;
    border-radius: 100%;
    float: left;
    /* width: 70%; */
    max-width: 240px;
    height: auto;
    box-shadow: 0 0 30px rgb(94, 94, 94);
    margin-right: 22px;
    margin-left: 18px;
}

.responsiveimg2 {
    margin-bottom: 10px;
    border-radius: 50%;
    width: 60%;
    max-width: 200px;
    margin: 18px;
    height: auto;
    box-shadow: 0 0 30px rgb(94, 94, 94);
}

@media screen and (max-width: 400px) {
    .responsiveimg {
        margin-left: 50px;
    }
}


/*========================================== MENU BAR ด้านบน ========================================*/


/* พื้นหลังเมนูบาร์บน */

.topnav {
    background-color: #A2D0C1;
    overflow: hidden;
    border-radius: 10px;
}


/* รูปแบบแต่ละบล็อกเมนูขณะไม่ได้กด*/

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* รูปแบบแต่ละบล็อกเมนูขณะเลือกอยู่ */

.topnav a:hover {
    background-color: #38A3A5;
    color: black;
    color: #FFFFFF;
}


/* ส่วนควมคุมยุบเวลาย่อจอเล็ก */

.topnav .icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* ส่วนควบคุมเมนูให้ยุบตามขนาดจอ bar ข้างบน*/

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*=================================================ส่วนควบคุมเนื้อหา===========================================*/

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: Pridi, serif;
    font-size: 22px;
    color: #DDDD;
    background-color: white;
    /* background-image: #2e2e2e; */
    background-attachment: fixed;
}

.leftcolumn {
    float: left;
    width: 80%;
}

.rightcolumn {
    float: left;
    width: 20%;
    padding-left: 20px;
}


/*-------- สร้างกล่องข้อความรูปแบบ --------*/

.card {
    background-color: #A2D0C1;
    padding: 20px;
    margin-top: 20px;
    color: white;
    position: relative;
    font-weight: 300;
    border-radius: 10px;
}

.cardii {
    background-color: #F8DC81;
    padding: 20px;
    margin-top: 20px;
    color: black;
    border-radius: 10px;
}


/* ตัดแถว */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*----------- ส่วนตวบคุมกล่องข้อความยุบขนาดตามจอ---------- */

@media screen and (max-width: 950px) {
    .leftcolumn,
    .rightcolumn,
    .colum {
        width: 100%;
        padding: 0;
    }
}


/* ========================================skill bar======================================== */

.u-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 22.5em;
}

.skill__type {
    color: #214151;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 15em;
}

.skill__inner-bar,
.skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    background: rgb(133, 130, 130);
    margin-top: 1em;
    width: 100%;
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}


/* ================ควบคุมจอ========== */

@media screen and (max-width: 600px) {
    .skill__outer-bar,
    .skills {
        width: 80%;
        padding: 0;
    }
}

@media screen and (max-width: 489px) {
    .skill__outer-bar,
    .skills {
        width: 50%;
        padding: 0;
    }
    .u-center {
        margin-left: -40px;
    }
}

@media screen and (max-width: 400px) {
    .skill__outer-bar {
        width: 40%;
    }
}


/* ------------เปลี่ยน % ---------------- */

.skill__inner-bar--65 {
    width: 60%;
    background: #F8DC81;
}

.skill__inner-bar--45 {
    width: 45%;
    background: #F8DC81;
}

.skill__inner-bar--50 {
    width: 50%;
    background: #F8DC81;
}

.skill__inner-bar--80 {
    width: 80%;
    background: #F8DC81;
}

.skill__inner-bar--60 {
    width: 60%;
    background: #F8DC81;
}


/* --------ให้หลอดวิ่ง--------- */

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}


/*=====================================ควบคุมไอคอนโซเชียล============================================== */

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background-color: black;
    color: #57CC99;
    border-radius: 60%;
    font-size: 3rem;
    margin-top: 10px;
}


/* =======icon centter========= */

.social-icon {
    margin-left: auto;
    margin-right: auto;
}

.social-icons .social-icon:hover {
    background-color: white;
    text-decoration: none;
}

.iconii li {
    color: #000000;
    list-style: none;
    text-align: center;
}


/* =======icon centter========= */

ul {
    display: flex;
    flex-direction: column;
}


/*====================================================================================== */

html {
    scroll-behavior: smooth;
}

.scroll-top {
    height: 60px;
    width: 60px;
    background-color: white;
    color: black;
    font-size: 2.5rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    transform: scale(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-top:hover {
    transform: scale(1);
}